// https://coolors.co/5603ad-8367c7-b3e9c7-c2f8cb-f0fff1
$main-background-color: #b3e9c7;
$foreground-color: #c2f8cb;
$header-background-color: #f0fff1;
$highlight-color: #f0fff1;
$text-color: #5603ad;

// #f0fff1
