// https://coolors.co/5603ad-8367c7-b3e9c7-c2f8cb-f0fff1
$main-background-color: #f8dcc9;
$foreground-color: #cf9e7e;
$header-background-color: #cf9e7e;
$highlight-color: #c2845b;
$text-color: #644734;
$general-link-color: #004fa3;

// #f0fff1
