// https://coolors.co/5603ad-8367c7-b3e9c7-c2f8cb-f0fff1
$main-background-color: #f79d65;
$foreground-color: #f7b267;
$header-background-color: #f7b267;
$highlight-color: #f79d65;
$text-color: #f25c54;

// #f0fff1
