@import "./style-variables/variables.scss";

* {
  box-sizing: border-box;
}

section,
main,
aside {
  background-color: $foreground-color;
  padding: 2rem;
  margin: 1rem;
}

html body {
  background-color: $main-background-color !important;
  color: $text-color;
}
