form#resource-form {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.input-label-container {
  display: flex;
  justify-content: space-between;
  min-width: 45vw;
  width: 50vw;
}

.input-label-container > label {
  text-align: center;
  font-size: 1.5rem;
}

.input-label-container > input {
  width: 30vw;
  height: calc(3vw / 1.2);
  margin: 0.5rem;
}

.form-multi-input {
  margin-bottom: 3rem;
}

.button-container {
  width: 17.5rem;
  margin-bottom: 1rem;
}

.button-container button {
  width: 50%;
}

.submit-button {
  margin-top: 1rem;
}
